.big-image {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
}
