<h3>{{ "SECONDARY_PROJECTS"|translate }} :</h3>
<div class="content">
  <div class="secondary-project shadow" *ngFor="let project of projects">
    <div>
      <h3 class="card-title">
        {{ project.title }}
      </h3>
      <img class="preview" [src]="project.img" [alt]="project.title">
      <div class="description">
        <p *ngFor="let p of project.p">{{ p|translate }}</p>
        <a *ngIf="project.a" [href]="project.a">Github</a>
      </div>
    </div>
    <app-techno-logos [technologies]="project.technologies"/>
  </div>
</div>
