@use "sass:map";
@import "../../../styles/color-palette";

header {
  margin: 25px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav {
  display: flex;
  gap: 5px;
}
h2 {
  margin: 0;
}
