<div class="primary-projects">
  <img src="assets/images/pokemon-manager/pm_logo.png" alt="pm logo" />
  <div class="description">azegsdhjuyqskgfuyzjg qshjdgjshqvdhj qshdghqsgfvdsqghv qshdgsqhjgv jdshgbfjhsdghfjhsdfhgb hsqdgfhsdghfghdsgf sdhfghsjdghfdjs</div>
</div>
<div class="primary-projects">
  <img src="assets/images/pokemon-manager/pm_logo.png" alt="pm logo" />
  <div class="description">azegsdhjuyqskgfuyzjg qshjdgjshqvdhj qshdghqsgfvdsqghv qshdgsqhjgv jdshgbfjhsdghfjhsdfhgb hsqdgfhsdghfghdsgf sdhfghsjdghfdjs</div>
</div>
