@use "sass:map";
@import "../../../styles/color-palette";

:host {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: center;
  gap: 50px;
  height: 100%;
}

.primary-projects {
  display: flex;
  flex-direction: column;
  background-color: map.get($color-palette, "3");
  gap: 10px;
  transition-property: transform, box-shadow;
  transition-duration: 0.2s, 0.2s;
  height: calc(100% - 45px);
  width: 40%;
  border-radius: 3px;
  overflow: hidden;
  justify-content: space-between;
}
.primary-projects:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
img {
  max-height: 180px;
  width: fit-content;
}

.techno {
  height: 48px;
}
.logos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  justify-content: flex-end;
}
.card-title {
  text-align: center;
}
.description {
  padding: 10px;
  text-align: justify;
  font-size: 16px;
}

.img-background {
  display: flex;
  justify-content: center;
}

@media (max-width: 1000px) {
  .content {
    gap: 10px;
  }
  .primary-projects {
    width: 45%;
  }
  .description {
    font-size: 14px;
  }
  img {
    height: 100px;
  }
  .techno {
    height: 32px;
  }
}
