<h3>{{ "PRIMARY_PROJECTS"|translate }} :</h3>
<div class="content">
  <div class="primary-projects">
    <div>
      <h3 class="card-title">{{ "POKEMON_MANAGER"|translate }}</h3>
      <div class="img-background" style="background-color: #fcf5e6">
        <img src="assets/images/pokemon-manager/pm_logo.png" alt="pm logo"/>
      </div>
      <div class="description">
        <p>{{ "PM_DESC1"|translate }}</p>
        <p>{{ "PM_DESC2"|translate }}</p>
        <p>{{ "PM_DESC3"|translate }}</p>
        <strong>{{ "WORK_IN_PROGRESS"|translate }} </strong>
        <a href="https://github.com/falqlp/PokemonManager">Github</a>
      </div>
    </div>
    <div class="logos">
      <img class="techno" *ngFor="let techno of pokemonManager.technologies"
           [src]="technologiesIconPath + techno + '.png'" [alt]="techno">
    </div>
  </div>
  <div class="primary-projects">
    <div>
      <h3 class="card-title">Aquiweb</h3>
      <div class="img-background" style="background-color: #2A353B">
        <img src="assets/images/aquiweb/aquiweb.jpg" alt="aquiweb logo"/>
      </div>
      <div class="description">
        <p>{{ "AW_DESC1"|translate }}</p>
        <p>{{ "AW_DESC2"|translate }}</p>
        <p>{{ "AW_DESC3"|translate }}</p>
        <a href="https://www.astree-software.fr/logiciel-mes/">{{ "MORE"|translate }}</a>
      </div>
    </div>
    <div class="logos">
      <img class="techno" *ngFor="let techno of aquiweb.technologies"
           [src]="technologiesIconPath + techno + '.png'" [alt]="techno">
    </div>
  </div>
</div>
