@use "sass:map";
@import "../../../styles/color-palette";

:host {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: center;
  gap: 50px;
  height: calc(100% - 30px);
}

.primary-projects {
  display: flex;
  flex-direction: column;
  background-color: map.get($color-palette, "2");
  gap: 10px;
  width: 40%;
  border-radius: 3px;
  overflow: hidden;
  justify-content: space-between;
  padding-bottom: 10px;
}
img {
  height: 180px;
  width: 180px;
}
.card-title {
  text-align: center;
}
.description {
  padding: 10px;
  text-align: justify;
  font-size: 2vh;
}

.img-background {
  display: flex;
  justify-content: center;
  height: 180px;
}

@media (max-width: 1000px) {
  .content {
    gap: 10px;
  }
  .primary-projects {
    flex: 1;
  }
  .description {
    font-size: 2vw;
    padding-top: 0;
  }
  .img-background {
    height: 100px;
  }
}
