<div class="chrono">
  <div class="graph">
    <div class="bar"></div>
    <div class="disk"></div>
    <div class="disk"></div>
    <div class="disk"></div>
  </div>
  <li>
    <ul>2025</ul>
    <ul>2022</ul>
    <ul>2020</ul>
  </li>
</div>
<div class="content">
  <div class="education shadow" *ngFor="let education of educations">
    <img [src]="education.img" [alt]="education.title"/>
    <mat-accordion>
      <h3>{{education.title}}:</h3>
      <mat-expansion-panel *ngFor="let subject of education.subjects">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ subject.title|translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <span
          *ngFor="let skill of subject.skills; let i=index">{{ skill|translate }}{{ subject.skills.length !== i + 1 ? ', ' : '' }}</span>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
