<div class="chrono">
  <div class="graph">
    <div class="bar"></div>
    <div class="disk"></div>
    <div class="disk"></div>
    <div class="disk"></div>
  </div>
  <li>
    <ul>2025</ul>
    <ul>2022</ul>
    <ul>2020</ul>
  </li>
</div>
<div class="content">
  <div class="telecom shadow">
    <img src="assets/images/telecom/telecom.png" alt="telecom"/>
    <mat-accordion>
      <h3>Data Engineering:</h3>
      <mat-expansion-panel *ngFor="let subject of telecom.subjects">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ subject.title|translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <span
          *ngFor="let skill of subject.skills; let i=index">{{ skill|translate }}{{ subject.skills.length !== i + 1 ? ', ' : '' }}</span>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="telecom shadow">
    <img src="../../../assets/images/iut/iut-logo.png" alt="telecom"/>
    <mat-accordion>
      <h3>DUT Mesures Physiques:</h3>
      <mat-expansion-panel *ngFor="let subject of iut.subjects">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ subject.title|translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <span
          *ngFor="let skill of subject.skills; let i=index">{{ skill|translate }}{{ subject.skills.length !== i + 1 ? ', ' : '' }}</span>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
