@use "sass:map";
@import "../../../styles/color-palette";

:host {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: center;
  gap: 50px;
  height: 100%;
}

.secondary-project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: map.get($color-palette, "3");
  height: calc(100% - 45px);
  width: 40%;
  border-radius: 3px;
  overflow: hidden;
  padding-bottom: 10px;
}
.img {
  max-height: 256px;
}

.techno {
  height: 64px;
}
.logos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-end;
  padding-right: 10px;
}
.img-html-css-bdd,
.img-d3js {
  width: 100%;
}
.eceau-img {
  display: flex;
  justify-content: center;
}

.card-title {
  text-align: center;
}

.description {
  padding: 0 10px 10px 10px;
  text-align: justify;
}

@media (max-width: 1000px) {
  .content {
    gap: 10px;
  }
  .secondary-project {
    flex: 1;
  }
  .description {
    font-size: 2vw;
    padding-top: 0;
  }
  .techno {
    height: 32px;
  }
  .img {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .content {
    gap: 10px;
    flex-direction: column;
    width: 100%;
  }
  .secondary-project {
    flex: 1;
    width: 100%;
  }
  .description {
    font-size: 2vw;
    padding-top: 0;
  }
  .techno {
    height: 32px;
  }
  .img-html-css-bdd,
  .img-d3js,
  .img {
    display: none;
  }
}
