<h3>{{ "SECONDARY_PROJECTS"|translate }} :</h3>
<div class="content">
  <div class="secondary-project shadow">
    <div>
      <h3 class="card-title">
        D3js
      </h3>
      <img class="img-d3js" src="assets/images/d3js/preview.png" alt="pm logo"/>
      <div class="description">azegsdhjuyqs kgfuyzjg qshjdgjshqvdhj qshdghqsgfvdsqghv qshdgsqhjgv jdshgbfjhsdghfjhsdfhgb
        hsqdgfhsdghfghdsgf sdhfghsjdghfdjs
      </div>
    </div>
    <app-techno-logos class="logos" [technologies]="d3js.technologies"/>
  </div>
  <div class="secondary-project shadow">
    <div>
      <h3 class="card-title">
        html-css-bdd-php
      </h3>
      <img class="img-html-css-bdd" src="assets/images/html-css-bdd/preview2.png" alt="html-css-bdd preview"/>
      <div class="description">azegsd hjuyqskgfuy zjg qshjdgj shqvdhj qshdghdqsgfvdsqghv qshdgsqhjgv
        jdshgbfjhs dghfjhsdfhgb
        hsqdgfhsdghfghdsgf sdhfghsjdghfdjs
      </div>
    </div>
    <app-techno-logos class="logos" [technologies]="htmlCssBdd.technologies"/>
  </div>
  <div class="secondary-project shadow">
    <div>
      <h3 class="card-title">
        Ec'eau
      </h3>
      <div class="eceau-img">
        <img class="img" src="assets/images/eceau/eceau%20logo.png" alt="eceau logo"/>
      </div>
      <div class="description">azegsdhjuy qskgfuyzjg qshjdgjshqvdhj qshdghqs gfvdsqghv qshdgsqhjgv
        jdshgbfjhsdghfjhsdfhgb
        hsqdgfhsdghfghdsgf sdhfghsjdghfdjs
      </div>
    </div>
    <app-techno-logos class="logos" [technologies]="eceau.technologies"/>
  </div>
</div>
