/* You can add global styles to this file, and also import other style files */
@use "sass:map";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "styles/color-palette";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

body {
  background-color: map.get($color-palette, "1");
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

button {
  border: none;
  background-color: transparent;
  border-radius: 4px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

a {
  color: black;
}

a:visited {
  color: black;
}

p {
  margin: 8px 0;
}

.shadow {
  transition-property: transform, box-shadow;
  transition-duration: 0.2s, 0.2s;
}
.shadow:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.mat-expansion-panel-header,
.mat-expansion-panel-body,
.mat-expansion-panel,
.mat-expansion-panel-header:hover {
  background-color: map.get($color-palette, "3") !important;
}
