/* You can add global styles to this file, and also import other style files */
@use "sass:map";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "styles/color-palette";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

body {
  background-color: map.get($color-palette, "2");
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

button {
  border: none;
  background-color: transparent;
  border-radius: 4px;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

a {
  color: black;
}
a:visited {
  color: black;
}
