/* You can add global styles to this file, and also import other style files */
@use "sass:map";
@import "styles/color-palette";

body {
  background-color: map.get($color-palette, "2");
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
  border-radius: 4px;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
